@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/*Global*/
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #fff;
}
/*Fondo*/
body {
	background: linear-gradient(-45deg, #646569, #588bbd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.titulo {
    background: #fff;
    font-size: 20px;
    height: 20%;
}

.titulo h1, h3{
    height: 20%;
    color: #215a98;
    width: 1000px;
}

.logo {
    width: 400px;
    height: 250px;
}

#divTitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Preguntas*/
fieldset{
    border-radius: 25px;
    border: transparent;
    padding: 5px;
    transition: transform .2s; /* Animation */
    margin: 6px auto;
    width: 70%;
}

fieldset:hover{
    border-radius: 10px;
    transform: scale(1.1);
}

.impar{
    background: #9ab7d7;
}

.par{
    background: #215a98;
}

/*Colores de radiobuttons*/
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
    transition: background .5s ease
}

input[value='Muy de acuerdo']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #00ff00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

input[value='Algo de acuerdo']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #069b06;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

input[value='Posiblemente']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #5e5f5e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

input[value='Poco en desacuerdo']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ff7700;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

input[value='Totalmente en desacuerdo']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ff0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

/*Botones*/

.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    background: #215a98;
    margin: 20px;
    font-size: 15px;
    border-radius: 15px;
    border: transparent;
    width: 100px;
    height: 40px;
    transition: transform .2s;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Envío de resultados*/

.cajaResultados{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaResultados form{
    display: flex;
    flex-direction: column;
}

.textos{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background: #9ab7d7;
    color: #fff;
    resize: none;
    border-radius: 20px;
}

.cajaResultados form input::placeholder{
    color: #fff;
    font-style: italic;
}

.btnEnviar{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background: #215a98;
    color: #fff;
    resize: none;
    border-radius: 20px;
    transition: transform .2s;
}

.btnEnviar:hover{
    transform: scale(1.1);
    cursor: pointer;
}